// Start Primary Font Family
$mt__primary-font: "Quicksand", sans-serif;
// End Primary Font Family

// Start Secondary Font Family
$mt__secondary-font: "Lora", serif;
// End Secondary Font Family

// Start Template Color Plate
$mt__primary-color: #17AF26;
$mt__secondary-color:#FDD057;
$mt__light-gray:#DADADA;
$mt__accent:#EA8428;
$mt__dark:#060121;
$mt__gray:#646373;
$mt__white:#ffffff;
$mt__border-color:#EAEAEF;
// End Template Color Plate
